<div class="container">
  <div class="row">
    <div
      class="col-lg-4 col-md-6 col-sm-12 mt-5"
      *ngFor="let product of products"
    >
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap"
          >
          </mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h5>{{ product.shortName }}</h5>
          </mdb-card-title>
          <mdb-card-title>
            <h6>Seller name</h6>
          </mdb-card-title>

          <mdb-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </mdb-card-text>

          <a href="#" mdbBtn color="primary" mdbWavesEffect>View</a>
          <a href="#" mdbBtn color="secondary" mdbWavesEffect>Desable</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
