<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 mt-4">
      <!-- Default form login -->
      <form
        #loginForm="ngForm"
        (ngSubmit)="login(loginForm)"
        class="text-center border border-light p-3"
      >
        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input
          ngModel
          #email="ngModel"
          name="email"
          type="email"
          id="defaultLoginFormEmail"
          class="form-control mb-4"
          placeholder="E-mail"
        />

        <!-- Password -->
        <input
          ngModel
          #password="ngModel"
          name="password"
          type="password"
          id="defaultLoginFormPassword"
          class="form-control mb-4"
          placeholder="Password"
        />

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button
          mdbBtn
          block="true"
          class="my-4 text-white"
          gradient="blue"
          type="submit"
        >
          <span
            *ngIf="spinner"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Sign in
        </button>

        <!-- Register -->
        <p>
          Not a member?
          <a href="">Register</a>
        </p>
      </form>
      <!-- Default form login -->
    </div>
  </div>
</div>
