<div class="container">
  <!-- Category -->
  <div
    mdbModal
    #frame="mdbModal"
    class="modal fade top"
    id="categoryModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="category"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-notify modal-primary" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">Add Category</p>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="frame.hide()"
          >
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <h5 class="mb-4">Category Name</h5>
            <input
              name="categorytName"
              type="text"
              class="form-control mb-4"
              placeholder="Category Name"
            />
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button
            mdbBtn
            type="submit"
            gradient="aqua"
            rounded="true"
            mdbWavesEffect
            class="text-light"
          >
            Submit
          </button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <br />
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Add Product
      </h2>
      <form
        #p="ngForm"
        (ngSubmit)="onSubmit(p)"
        class="text-center border border-light p-3"
      >
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Product Name</h5>
            <input
              [(ngModel)]="product.productName"
              name="productName"
              type="text"
              class="form-control mb-4"
              placeholder="Product Name"
            />
          </div>

          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Short Name</h5>
            <input
              [(ngModel)]="product.shortName"
              name="shortName"
              type="text"
              class="form-control mb-4"
              placeholder="Short Name"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Long Name</h5>
            <input
              [(ngModel)]="product.longName"
              name="longName"
              type="text"
              class="form-control mb-4"
              placeholder="Long Name"
            />
          </div>

          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Images</h5>
            <input
              [(ngModel)]="file"
              (change)="selectFile($event.target.files)"
              name="images"
              type="file"
              class="form-control mb-4"
              placeholder="Select images"
              multiple
            />
          </div>

          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Tags</h5>
            <div class="tags">
              <tag-input
                [(ngModel)]="items"
                name="items"
                theme="minimal"
              ></tag-input>
            </div>
            <!-- <input [(ngModel)]="product.tags" name="tags" type="text" class="form-control mb-4" placeholder="Tags ( Mximum 5 )"> -->
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Category</h5>
            <select
              [(ngModel)]="product.category"
              name="category"
              class="browser-default custom-select"
            >
              <option *ngFor="let category of categories">{{
                category
              }}</option>
            </select>
            <p
              class="text-center mt-3 text-info font-weight-bold add-cat"
              data-toggle="modal"
              data-target="#categoryModal"
              (click)="frame.show()"
            >
              Add Category
            </p>
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Sub Category</h5>
            <select
              [(ngModel)]="product.subCategory"
              name="subCategory"
              class="browser-default custom-select"
            >
              <option *ngFor="let subCategory of subCategories">{{
                subCategory
              }}</option>
            </select>
            <p
              class="text-center mt-3 text-info font-weight-bold add-cat"
              data-toggle="modal"
              data-target="#SubCategoryModal"
              (click)="frame.show()"
            >
              Add Sub Category
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <h5>Stock</h5>
            <input
              [(ngModel)]="product.stock"
              name="stock"
              type="number"
              class="form-control mb-4"
              placeholder="Stock"
            />
          </div>
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <br />
            <h5>Cah On Delivery</h5>
            <div class="custom-control custom-switch">
              <input
                [(ngModel)]="product.cod"
                name="cod"
                type="checkbox"
                class="custom-control-input"
                id="cod"
              />
              <label class="custom-control-label" for="cod"
                >Do you provide COD</label
              >
            </div>
          </div>
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <br />
            <h5>On offer</h5>
            <div class="custom-control custom-switch">
              <input
                [(ngModel)]="product.onOffer"
                name="onOffer"
                type="checkbox"
                class="custom-control-input"
                id="customSwitches"
              />
              <label class="custom-control-label" for="customSwitches"
                >This product have any offer</label
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Mximum Retail Price ( M.R.P )</h5>
            <input
              [(ngModel)]="product.mrp"
              name="mrp"
              type="number"
              class="form-control mb-4"
              placeholder="MRP Price"
            />
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Selling Price</h5>
            <input
              [(ngModel)]="product.currentPrice"
              name="currentPrice"
              type="number"
              class="form-control mb-4"
              placeholder="Current Price"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Highlights</h5>
            <textarea
              [(ngModel)]="product.highlights"
              name="highlights"
              type="text"
              class="md-textarea md-textarea-auto form-control"
              mdbInput
            ></textarea>
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Description</h5>
            <textarea
              [(ngModel)]="product.description"
              name="description"
              type="text"
              class="md-textarea md-textarea-auto form-control"
              mdbInput
            ></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <br />
            <button
              block="true"
              mdbBtn
              type="submit"
              gradient="aqua"
              rounded="true"
              mdbWavesEffect
              class="text-light"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
