<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark light"
  [containerInside]="false"
>
  <mdb-navbar-brand
    ><a class="navbar-brand text-dark" href="/"
      ><strong>Folksy</strong></a
    ></mdb-navbar-brand
  >
  <links>
    <ul class="navbar-nav ml-auto mr-2">
      <li *ngIf="isLoggedIn" class="nav-item">
        <button
          (click)="gotoDash()"
          mdbBtn
          gradient="purple"
          size="sm"
          class="align-middle text-white"
          mdbWavesEffect
          type="button"
        >
          DASHBOARD
        </button>
        <button
          (click)="signOut()"
          mdbBtn
          gradient="blue"
          size="sm"
          class="align-middle text-white"
          mdbWavesEffect
          type="button"
        >
          SIGNOUT
        </button>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item active">
        <button
          (click)="goToSignin()"
          mdbBtn
          size="sm"
          gradient="blue"
          class="align-middle waves-light text-white"
          mdbWavesEffect
          type="button"
        >
          SIGNIN
        </button>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item active">
        <button
          (click)="goToSignup()"
          mdbBtn
          gradient="purple"
          size="sm"
          class="align-middle waves-light text-white"
          mdbWavesEffect
          type="button"
        >
          SIGNUP
        </button>
      </li>
    </ul>
  </links>
</mdb-navbar>
