<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <br />
      <h2 class="text-center mb-4">Update Product</h2>
      <form #productForm="ngForm" class="text-center border border-light p-3">
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Product Name</h5>
            <input
              ngModel
              name="productName"
              type="text"
              class="form-control mb-4"
              placeholder="Product Name"
            />
          </div>

          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Short Name</h5>
            <input
              ngModel
              name="shortName"
              type="text"
              class="form-control mb-4"
              placeholder="Short Name"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Long Name</h5>
            <input
              ngModel
              name="longName"
              type="text"
              class="form-control mb-4"
              placeholder="Long Name"
            />
          </div>

          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Tags</h5>
            <input
              ngModel
              name="tags"
              type="text"
              class="form-control mb-4"
              placeholder="Tags ( Mximum 5 )"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Category</h5>
            <select
              ngModel
              name="category"
              class="browser-default custom-select"
            >
              <option *ngFor="let category of categories">{{
                category
              }}</option>
            </select>
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Sub Category</h5>
            <select
              ngModel
              name="subCategory"
              class="browser-default custom-select"
            >
              <option *ngFor="let subCategory of subCategories">{{
                subCategory
              }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <h5>Stock</h5>
            <input
              ngModel
              name="stock"
              type="number"
              class="form-control mb-4"
              placeholder="Stock"
            />
          </div>
          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <br />
            <h5>Cah On Delivery</h5>
            <div class="custom-control custom-switch">
              <input
                name="cod"
                ngModel
                type="checkbox"
                class="custom-control-input"
                id="cod"
              />
              <label class="custom-control-label" for="cod"
                >Do you provide COD</label
              >
            </div>
          </div>
          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <br />
            <h5>On offer</h5>
            <div class="custom-control custom-switch">
              <input
                ngModel
                name="onOffer"
                type="checkbox"
                class="custom-control-input"
                id="customSwitches"
              />
              <label class="custom-control-label" for="customSwitches"
                >This product have any offer</label
              >
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Mximum Retail Price ( M.R.P )</h5>
            <input
              ngModel
              name="mrp"
              type="number"
              class="form-control mb-4"
              placeholder="MRP Price"
            />
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Selling Price</h5>
            <input
              ngModel
              name="currentPrice"
              type="number"
              class="form-control mb-4"
              placeholder="Current Price"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Highlights</h5>
            <textarea
              ngModel
              name="highlights"
              type="text"
              id="form7"
              class="md-textarea md-textarea-auto form-control"
              mdbInput
            ></textarea>
          </div>
          <div class="form-group col-lg-6 col-md-12 col-sm-12">
            <h5>Description</h5>
            <textarea
              ngModel
              name="description"
              type="text"
              id="form7"
              class="md-textarea md-textarea-auto form-control"
              mdbInput
            ></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6 col-md-3 col-sm-12">
            <br />
            <button
              block="true"
              mdbBtn
              type="button"
              gradient="aqua"
              rounded="true"
              mdbWavesEffect
              class="text-light"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
