<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-6 col-sm-12 mt-5">
      <!-- Default form register -->
      <form #sellerForm="ngForm" class="text-center border border-light p-3">
        <p class="h4 mb-4">Register Admin</p>

        <div class="form-row">
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <!-- First name -->
            <input
              ngModel
              #firstname="ngModel"
              name="firstName"
              type="text"
              id="defaultRegisterFormFirstName"
              class="form-control"
              placeholder="First name"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <!-- Last name -->
            <input
              ngModel
              #lastname="ngModel"
              name="lastName"
              type="text"
              id="defaultRegisterFormLastName"
              class="form-control"
              placeholder="Last name"
            />
          </div>
        </div>

        <!-- Profile image -->
        <div class="input-group mb-3">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile01"
            />
            <label class="custom-file-label" for="inputGroupFile01"
              >Choose file</label
            >
          </div>
        </div>

        <!-- E-mail -->
        <input
          ngModel
          #email="ngModel"
          name="email"
          type="email"
          id="defaultRegisterFormEmail"
          class="form-control mb-4"
          placeholder="E-mail"
        />

        <!-- Confirm Email -->
        <input
          type="email"
          id="defaultRegisterFormEmail"
          class="form-control mb-4"
          placeholder="Confirm E-mail"
        />

        <input
          ngModel
          #addresslineone="ngModel"
          name="addressLineOne"
          type="text"
          id="defaultRegisterFormStoreName"
          class="form-control mb-4"
          placeholder="Adress Line One"
        />

        <input
          ngModel
          #addresslinetwo="ngModel"
          name="addressLineTwo"
          type="text"
          id="defaultRegisterFormStoreName"
          class="form-control mb-4"
          placeholder="Adress Line Two"
        />

        <div class="form-row mb-4">
          <div class="col">
            <!-- Pin Code -->
            <input
              ngModel
              #pincode="ngModel"
              name="pincode"
              type="number"
              id="defaultRegisterFormFirstName"
              class="form-control"
              placeholder="Pin Code"
            />
          </div>
          <div class="col">
            <!-- Select Country -->
            <select
              ngModel
              #country="ngModel"
              name="country"
              class="browser-default custom-select"
            >
              <option selected>Select Country</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <!-- Select State -->
            <select
              ngModel
              #state="ngModel"
              name="state"
              class="browser-default custom-select"
            >
              <option selected>Select State</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            <!-- Select City -->
            <select
              ngModel
              #city="ngModel"
              name="city"
              class="browser-default custom-select"
            >
              <option selected>Select City</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <!-- Password -->
        <input
          ngModel
          #password="ngModel"
          name="password"
          type="password"
          id="defaultRegisterFormPassword"
          class="form-control mb-4"
          placeholder="Password"
          aria-describedby="defaultRegisterFormPasswordHelpBlock"
        />

        <!-- Confirm Password -->
        <input
          type="password"
          id="defaultRegisterFormPassword"
          class="form-control"
          placeholder="Confirm Password"
          aria-describedby="defaultRegisterFormPasswordHelpBlock"
        />

        <small
          id="defaultRegisterFormPasswordHelpBlock"
          class="form-text text-muted mb-4"
        >
          At least 8 characters and 1 digit
        </small>

        <!-- Phone number -->
        <input
          ngModel
          #phonenumber="ngModel"
          name="phoneNumber"
          type="number"
          id="defaultRegisterPhonePassword"
          class="form-control"
          placeholder="Phone number"
          aria-describedby="defaultRegisterFormPhoneHelpBlock"
        />
        <small
          id="defaultRegisterFormPhoneHelpBlock"
          class="form-text text-muted mb-4"
        >
          For two-step authentication
        </small>

        <!-- Newsletter -->
        <div class="row mb-3">
          <div class="col-md-12 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true"
              >Subscribe to our newsletter</mdb-checkbox
            >
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12 mx-auto d-flex justify-content-center">
            <mdb-checkbox [default]="true"
              >Agree our terms of service</mdb-checkbox
            >
          </div>
        </div>

        <!-- Terms of service -->
        <p>
          By clicking <em>Sign up</em> you agree to our
          <a href="" target="_blank">terms of service</a>
        </p>

        <!-- Sign up button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
