<!-- <app-spinner *ngIf="spinner"></app-spinner> -->
<div class="container">
  <h2 class="h1-responsive font-weight-bold my-5 text-center">Dashboard</h2>
  <div class="row mt-4">
    <div class="col-lg-3 col-md-3 col-sm-2 mb-4">
      <mdb-card>
        <mdb-card-title class="text-center pt-3">
          <h4>Add Product</h4>
        </mdb-card-title>
        <button
          mdbBtn
          type="button"
          gradient="purple"
          rounded="true"
          mdbWavesEffect
          class="text-white mg"
          (click)="addProduct()"
        >
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </button>
      </mdb-card>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-2 mb-4">
      <mdb-card>
        <mdb-card-title class="text-center pt-3">
          <h4>View Products</h4>
        </mdb-card-title>
        <button
          mdbBtn
          type="button"
          gradient="blue"
          rounded="true"
          mdbWavesEffect
          class="text-white mg"
          (click)="viewProducts()"
        >
          <mdb-icon fas icon="shopping-cart" size="2x"></mdb-icon>
        </button>
      </mdb-card>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-2 mb-4">
      <mdb-card>
        <mdb-card-title class="text-center pt-3">
          <h4>Orders</h4>
        </mdb-card-title>
        <button
          mdbBtn
          type="button"
          gradient="peach"
          rounded="true"
          mdbWavesEffect
          class="text-white mg"
          (click)="orders()"
        >
          <mdb-icon fas icon="box" size="2x"></mdb-icon>
        </button>
      </mdb-card>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-2 mb-4">
      <mdb-card>
        <mdb-card-title class="text-center pt-3">
          <h4>View Profile</h4>
        </mdb-card-title>
        <button
          mdbBtn
          type="button"
          gradient="aqua"
          rounded="true"
          mdbWavesEffect
          class="text-white mg"
          (click)="viewProfile()"
        >
          <mdb-icon fas icon="user-circle" size="2x"></mdb-icon>
        </button>
      </mdb-card>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Monthly Sold
      </h2>
      <mdb-card>
        <mdb-card-body>
          <div style="display: block">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="false"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4">
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Monthly Erned
      </h2>
      <mdb-card>
        <mdb-card-body>
          <div style="display: block">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="false"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-4">
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Monthly Added
      </h2>
      <mdb-card>
        <mdb-card-body>
          <div style="display: block">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="false"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Top Selling
      </h2>
      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{ el.id }}</th>
            <td>{{ el.first }}</td>
            <td>{{ el.last }}</td>
            <td>{{ el.handle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <h2 class="h1-responsive font-weight-bold my-5 text-center">
        Recently added
      </h2>
      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{ el.id }}</th>
            <td>{{ el.first }}</td>
            <td>{{ el.last }}</td>
            <td>{{ el.handle }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
