<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
        <mdb-card-title>
          <h2 class="text-center p-3">Users</h2>
        </mdb-card-title>
        <canvas
          mdbChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>
      </mdb-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
        <mdb-card-title>
          <h2 class="text-center p-3">Users</h2>
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </mdb-card-title>
      </mdb-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect></div>
        <mdb-card-title>
          <h2 class="text-center p-3">Users</h2>
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </mdb-card-title>
      </mdb-card>
    </div>
  </div>
</div>
