<div class="container">
  <!-- Section: Team v.1 -->
  <section class="team-section text-center my-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Sellers Area</h2>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
            class="rounded-circle z-depth-1"
            alt="Sample avatar"
          />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
        <p class="text-uppercase blue-text">
          <strong>Seller Id</strong>
        </p>
        <p class="grey-text">
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci sed quia non numquam modi tempora eius.
        </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fas icon="eye" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fas icon="pen" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fas icon="shopping-cart" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
            class="rounded-circle z-depth-1"
            alt="Sample avatar"
          />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
        <p class="text-uppercase blue-text">
          <strong>Seller Id</strong>
        </p>
        <p class="grey-text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa
          accusantium doloremque rem laudantium totam aperiam.
        </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fas icon="eye" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fas icon="pen" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fas icon="shopping-cart" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
            class="rounded-circle z-depth-1"
            alt="Sample avatar"
          />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
        <p class="text-uppercase blue-text">
          <strong>Seller Id</strong>
        </p>
        <p class="grey-text">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim est fugiat nulla id eu laborum.
        </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fas icon="eye" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fas icon="pen" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fas icon="shopping-cart" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
            class="rounded-circle z-depth-1"
            alt="Sample avatar"
          />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
        <p class="text-uppercase blue-text">
          <strong>Seller Id</strong>
        </p>
        <p class="grey-text">
          Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui
          consectetur totam officia voluptates perferendis voluptatibus aut.
        </p>
        <ul class="list-unstyled mb-0">
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fas icon="eye" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fas icon="pen" class="blue-text"> </mdb-icon>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fas icon="shopping-cart" class="blue-text"> </mdb-icon>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Team v.1 -->
</div>
